.bg-image {

	background-color: #f8f9fa;
	background-position: 0 50%;
	background-size: contain;
}


body {
	font-family: "Nunito Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: left;
}


div.block.block-rounded div.block-content p {
	color: #111111;
}

#page-footer {
	color: #222222;
}


#progressBar
{
	width:0px;
	height:5px;
	background-color:darkgreen;
	/* position:fixed;
	top:0px;
	left:0px; */
	display:none;
}

#progressBar.active
{
	display:block;
	margin-bottom: 5px;
	/* transition: 3s linear width;
	-webkit-transition: 3s linear width;
	-moz-transition: 3s linear width;
	-o-transition: 3s linear width;
	-ms-transition: 3s linear width; */
}

#fileUploadMessage {
	display:none;

}

#fileUploadMessage.active {
	display:block;
	color: black;
	
}